#home1{color: white;}#home1:hover{color: orange}
#contactos1{color: white;}#contactos1:hover{color: orange}
#informacion1{color: white;}#informacion1:hover{color: orange}
#registrar1{color: white;}#registrar1:hover{color: #d39e00}

#dd{color: #4bb1b1}
